/* ----------------------- */
/* Reset */
:root {
  --color-primary: #23424a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ----------------------- */
/* Utilities */
section,
header,
main,
footer {
  padding: 80px 0;
}

.container {
  margin: 0 auto;
  /* width: 80%;
  max-width: 900px; */
  width: min(80%, 1200px);
  /* border: 2px solid yellowgreen; for testing purposes */
}

.row {
  /* this is a flex container */
  display: flex;
  justify-content: space-between;
  /* gap: 25px; not fully supported in all browsers */
}

.col {
  /* these are flex items */
  /* background-color: limegreen; for testing purposes */
  width: 100%;
}

.col:not(:last-child) {
  margin: 0 25px 0 0;
}

.text-center {
  text-align: center;
}

/* ----------------------- */
/* Typography */
.heading-secondary {
  margin-bottom: 0.7em;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
}

/* ----------------------- */
/* Buttons */
.btn {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary);
  padding: 0.75em 2em;
  border-radius: 100px;
  border: 1px solid #38cfd9;
  background-color: #38cfd9;
}

.btn--nav {
  color: #000;
  background-color: #fff;
  padding: 0.2em 0.8em;
  font-weight: 400;
}

/* ----------------------- */
/* Navbar */
.nav {
  background-color: #136c72;
  padding: 1rem 0;
}

.navbar {
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 2rem;
}

.nav__link {
  text-transform: uppercase;
}

/* ----------------------- */
/* Header Section */
.header {
  background-color: var(--color-primary);
  color: #fff;
  width: 100%;
}

.header__content {
  width: 62%;
}

.header__title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1em;
}

.header__text {
  color: #ccc;
  margin-bottom: 1.5em;
}

.header__img {
  width: 32%;
}

/* ----------------------- */
/* About */
.about {
  color: var(--color-primary);
  width: 62%;
}

.about__heading {
  color: #136c72;
}

.about__text:not(:last-child) {
  margin-bottom: 2rem;
}

/* ----------------------- */
/* Sidebar */
.sidebar {
  width: 32%;
  background-color: #136c72;
  padding: 2rem;
  color: #fff;
}

.sidebar__text:not(:last-child) {
  margin-bottom: 3rem;
}

/* ----------------------- */
/* Media Queries */
@media (max-width: 900px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col:not(:last-child) {
    margin: 0 0 25px 0;
  }

  .header__content {
    margin: 0 0 20px 0;
    text-align: center;
  }

  .header__img {
    align-self: center;
    width: 80%;
    margin-top: 3rem;
  }

  .header__img img {
    width: 100%;
  }

  .about,
  .sidebar {
    width: 80%;
  }

  .about {
    margin-bottom: 5rem;
  }
}
